html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
body{
	font-size: 12px;
}
img { border:none; }
ul li{ list-style:none; } 
a{text-decoration:none; }
.wrap{
	width: 1200px;
	height: 1500px;
	margin: 0 auto;
	
}
.sbox{
	float: left;
	width: 218px;
	border: 1px solid #cccccc;
	height: 300px;
	/* margin-top: 10px; */
    margin: 10px

}
.sbox img{
	width: 200px;
	height: 184px;
	margin-left: 10px
}
.sbox h3{
	margin-top: 20px;
	text-align: center
}
.sbox p{
	text-align: center;
	color: #3377aa;
	font-size: 14px;
	margin-top: 5px;
	overflow: hidden;
	text-overflow:ellipsis; white-space:nowrap
}
#tijiao{
	margin-left: 38px;
	margin-top: 13px;
	width: 146px;
	border: none;
	cursor: pointer;
	height: 30px;
}
.fanhui{
    width: 70px;
    height: 184px;
    background: red;
    position: fixed;
    right: 88px;
    top:100px
}
.one{
    height: 59px;
    border-bottom: 1px solid black;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;

}
.one:hover{
    background: blueviolet
}
.two{
    height: 61px;
    cursor: pointer;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid black;
}
.two:hover{
    background: yellow
}













