<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./stylesheets/reg.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="/bootstrap/js/jquery-1.10.1.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/layui/layui.js"></script>
  <title>Document</title>
  <style>
    .regbox {
      width: 364px;
      height: 443px;
      position: absolute;
      background: rgba(14, 14, 13, 0.185);
      left: 50%;
      top: 50%;
      margin-top: -194px;
      margin-left: -182px;
    }

    #12 {
      margin-left: 50px
    }

    .REG {
      width: 364px;
      height: 50px;
      border-bottom: 2px solid white;
      text-align: center;
      line-height: 50px;
      font-size: 22px;
    }

    #reg {
      margin-top: 32px;
    }

    #bon {
      margin-left: 14px;
      width: 120px;
      margin-top: 10px
    }

    #log {
      display: block;
      text-align: center;
      cursor: pointer;
    }

    #log:hover {
      color: red;
    }

    .form-group {
      margin-bottom: 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="regbox">
      <div class="REG">Register</div>
      <form class="form-horizontal" action="/register" method="post" id="reg">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">用户名</label>
          <div class="col-sm-7">
            <input type="text" class="form-control inp" placeholder="请输入用户名" name="username" id="username">
            <div  id="username_err"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-4 control-label">密码</label>
          <div class="col-sm-7">
            <input type="password" class="form-control inp" id="password" name="password" placeholder="请输入密码">
            <div id="pwd_err"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-4 control-label">确认密码</label>
          <div class="col-sm-7">
            <input type="password" class="form-control inp" id="dbpassword" name="password1" placeholder="请确认密码">
            <div id="repwd_err"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label"> 邮箱地址</label>
          <div class="col-sm-7">
            <input type="text" class="form-control inp" id="email" placeholder="请输入邮箱地址" name="email">
            <div id="email_err"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="button" class="btn btn-danger  btn-lg" id="bon" onclick="toreg()">注册</button>
          </div>
        </div>
      </form>
      <span id="log" onclick="location.href='./login'">已有账号？点击登录</span>

    </div>
  </div>
</body>

</html>

<script>
$("input.inp").attr("data-bol", false);


  
  $("#username").blur(() => {
    checkUsername();
  });

  $("#password").blur(() => {
    checkPwd();
  })
  $("#dbpassword").blur(() => {
    checkdbPwd()
  })
  $("#email").blur(() => {
        cheakemail();
    })


    function toreg() {
        if ($('#username').attr("data-bol")== "false") {
            console.log(1)
            checkUsername();
        }else if ($('#password').attr("data-bol")=="false"){
            console.log(2)
            checkPwd();
        }else if ($('#dbpassword').attr("data-bol")=="false"){
            console.log(4)
            checkdbPwd()
        }else if ($('#email').attr("data-bol")=="false" ) {
            console.log(5)
            cheakemail();
        }else {
            console.log("123987")
            var registerUrl = "/register";
            var postData = {
                username: $('#username').val(),
                password: $('#password').val(),
                email: $('#email').val()
            };
            $.post(registerUrl, postData, (data) => {
                console.log(data)
                if (data.status == 0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('恭喜！注册成功', {
                            closeBtn: 0,
                            time: 3000
                        },
                            function () {
                                location.href = "/login";
                            });
                    });
                } else {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('注册失败', {
                            closeBtn: 0,
                            time: 3000
                        },
                            function () {
                                location.href = "/register";
                            });
                    });
                }
            })
        }
    };
  // 检查用户名格式
  function checkUsername() {
    var nameVal = $("#username").val();
    if (nameVal == "") {

      $("#username_err").text("用户名不能为空!");
      $('#username').attr('data-bol', false);
    } else {
      if (/^[a-zA-Z0-9_-]{4,16}$/.test(nameVal) == false) {
        $("#username_err").text("4到16位（字母，数字，下划线，减号）");
        $('#username').attr('data-bol', false);
      } else {
        $("#username_err").text("");
        $('#username').attr('data-bol', true);
      }
    }
  }
  // 检查密码
  function checkPwd() {
    var pwdval = $("#password").val();
    if (pwdval == "") {
      $("#pwd_err").text("密码不能为空");
      $("#password").attr('data-bol', false);
    } else {
      if (/^[a-zA-Z0-9]{6,10}$/.test(pwdval) == false) {
        $("#pwd_err").text("必须且只含有数字和字母，6-10位");
        $("#password").attr('data-bol', false);
      } else {
        $("#pwd_err").text("");
        $("#password").attr('data-bol', true);
      }
    }
  }
  //密码重复验证
  function checkdbPwd() {
    var dbpwdval = $("#dbpassword").val();
    var pwdval = $("#password").val()
    if (dbpwdval == "") {
      $("#repwd_err").text("密码不能为空");
      $("#dbpassword").attr('data-bol', false);
    } else {
      if (dbpwdval != pwdval) {
        $("#repwd_err").text("密码不一致！");
        $("#dbpassword").attr('data-bol', false);
      } else {
        $("#repwd_err").text("");
        $("#dbpassword").attr('data-bol', true);
      }
    }
  }
  // 检查邮箱
  function cheakemail() {
    var emailval = $('#email').val();
    console.log("1233568")
    if (emailval == "") {
      $('#email_err').text("邮箱不能为空");
      $('#email').attr('data-bol', false);
    } else {
      if (/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(emailval) == false) {
        $('#email_err').text("邮箱格式不正确");
        $('#email').attr('data-bol', false);

      } else {
        console.log("duile")
        $('#email_err').text("");
        $('#email').attr('data-bol', true);
      }
    }
  }
</script>