<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      #btn3{
        display: inline-block;
        cursor: pointer;
        color: blue;
        font-size: 13px
      }
      h2{
        text-align: center;
        font-size: 30px
      }
      h2 span{
        color:gray
      }
      #btn3:hover{
        color: red
      }
      #btn2{
        position: absolute;
        left: 713px;
        cursor: pointer;
        border: none;
        top:256px;
        width: 106px;
        height: 42px;
      }
      #btn{
        margin-left: 616px;
        width: 90px;
        height: 45px;
        background: rgb(124, 124, 221);
        border: none;
        cursor: pointer;
      }
      #btn1{
        width: 90px;
        height: 45px;
        background: rgb(203, 203, 224);
        border: none;
        cursor: pointer;
      }
      #btn01{
        width: 106px;
        height: 42px;
        background: rgb(203, 203, 224);
        border: none;
        cursor: pointer;
        position: absolute;
        left: 713px;
        top:314px;
      }
      #btn02{
        width: 106px;
        height: 42px;
        background: rgb(203, 203, 224);
        border: none;
        cursor: pointer;
        position: absolute;
        left: 713px;
        top:373px;
      }
    </style>
  </head>
  <body>
 
<%- include("header",{title:"欢迎来到小说管理系统"})  %>
  
<% if(!username){ %>
  <button onclick="window.location.href='/login'" id="btn">登录</button>
  <button onclick="window.location.href='/register'" id="btn1">注册</button>
<% }else{%>
  <% if(username=="root"){%>
    <h2 id="wel">欢迎管理员:<span><%= username%></span> <p onclick="window.location.href='/logout'" id="btn3">注销</p></h2>
    <button onclick="window.location.href='/users/novel'" id="btn2">查看所有小说</button>
    <button onclick="window.location.href='/usercomment'" id="btn01">小11说管理</button>
    <button onclick="window.location.href='/usermanage'" id="btn02">用户管理</button>    

    <% }else{%>
    <h2 id="wel">欢迎:<span><%= username%></span> <p onclick="window.location.href='/logout'" id="btn3">注销</p></h2>
    <button onclick="window.location.href='/novel'" id="btn2">查看所有小说</button>
    <% }%>
        
  
<%}%>

  </body>
</html>
