<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>  
        header{
         width: 1200px;
         background: black;
         height: 70px;
         margin: 0  auto;
         color: white;
         text-align: center;
         line-height: 70px;
         font-size: 30px
        }
    #p1{
        display: inline-block;
        float: left;
        font-size: 20px;
        cursor: pointer;
    }
    
    
    </style>
</head>
<body>
    <header><%= title%>
    
    <!-- <p id="p1">首页</p> -->
    </header>
</body>
</html>