html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
body{
	font-size: 12px;
}
img { border:none; }
ul li{ list-style:none; } 
a{text-decoration:none; }
.big{
    /* margin-top: 20px; */
    width: 1198px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    overflow: hidden;
    /* background: red */
}
.left{
    width: 300px; 
    /* background: green; */
    height: 400px;
    float: left;
}
.left img{
    width: 275px;
    height: 356px;
}
.center{
    width: 225px;
    /* background: orange; */
    float: left;
    height: 400px;
}

h3{ 
    height: 50px;
    border-bottom: 2px solid black;
   text-align: center;
   line-height: 50px;
   font-size: 25px
}
#p01{
   height: 20px;
   text-align: center;
  line-height: 20px;
  font-size: 15px;
  margin-top: 10px
}
#p02{
    height: 20px;
    text-align: center;
   line-height: 20px;
   font-size: 15px;
   overflow: hidden;
   text-overflow:ellipsis; 
   white-space:nowrap;
   margin-top: 5px;
   
}
#p03{
    height: 20px;
    text-align: center;
   line-height: 20px;
   font-size: 17px;
   overflow: hidden;
   text-overflow:ellipsis; 
   white-space:nowrap;
   margin-top: 5px;
}
#p04{
    height: 20px;
    text-align: center;
   line-height: 20px;
   font-size: 13px;
   /* color: red; */
   margin-top: 5px;
   font-size: 16px;

}

#p05{
    display: inline-block;
    height: 248px;
    width: 225px;
   line-height: 20px;
   font-size: 13px;
   /* color: red; */
   margin-top: 10px;
   overflow: hidden;
   text-overflow:ellipsis; 
   font-weight: bold;
}
.right{
    float: right;
    width: 650px;
    height: 500px;
}
#contj{
  display: block;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border:none;
}
#contj:hover{
    background: blue
}
.novelbox{
    width: 1200px;
    margin: 0 auto;
    /* background: greenyellow; */
 }
.novelbox li{
    width: 1200px;
    height: 70px;
    /* background: green; */
}
.novelbox h2{
    width: 1200px;
    height: 50px;
    line-height: 50px
}
.rr{
    float: left;
    width: 800px;
    height: 70px;
    font-size: 17px;
    line-height: 70px;
    /* background: orange; */
    /* border: 1px solid #cccccc; */
}
.tt{
    width: 300px;
    height: 70px;
    float: right
}
.tt p {
    height: 35px;
    width: 300px;
    line-height: 35px;
    text-align: right;
    font-size: 15px
}
#span1{
    width: 200px;
    height: 70px;
    display: inline-block;
    line-height: 70px;
    float: left;
    /* border-bottom: 1px solid #cccccc */
}
#span2{
    display: inline-block;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    width: 592px;
    height: 68px;
}
.fanhui{
    width: 70px;
    height: 184px;
    background: red;
    position: fixed;
    right: 88px;
    top:100px
}
.one{
    height: 59px;
    border-bottom: 1px solid black;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;

}
.one:hover{
    background: blueviolet
}
.two{
    height: 61px;
    cursor: pointer;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid black;
}
.two:hover{
    background: yellow
}
li{
    border: 1px solid #cccccc;
}