html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
body{
	font-size: 12px;
}
img { border:none; }
ul li{ list-style:none; } 
a{text-decoration:none; }

.box1{
    width: 400px;
    height: 218px;
    /* background: red; */
    margin-left:384px;
}

#returnIx{
    float: right;
    width: 100px;
    
}






















